In [1]:
import pandas as pd

In [2]:
two_dimensional_list = [['dongwook', 50, 86], ['sineui', 89, 31], ['woonsoo', 88, 75]]

In [10]:
my_df = pd.DataFrame(two_dimensional_list, columns=['name', 'english_score', 'math_score'], index=['a', 'b', 'c'])

In [11]:
my_df

       name  english_score  math_score
a  dongwook             50          86
b    sineui             89          31
c   woonsoo             88          75

In [12]:
type(my_df)

pandas.core.frame.DataFrame

In [13]:
my_df.columns

Index(['name', 'english_score', 'math_score'], dtype='object')

In [15]:
my_df.index

Index(['a', 'b', 'c'], dtype='object')

In [16]:
my_df.dtypes

name             object
english_score     int64
math_score        int64
dtype: object