In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('museum2.csv')
df.head()

           시설명  어른관람료      운영기관전화번호  분류
0   필암서원 유물전시관    500  061-390-7224  일반
1      원주역사박물관      0  033-737-4371  일반
2      뮤지엄산미술관  15000  033-730-9000  일반
3    오랜미래신화미술관      0  033-746-5256  일반
4  연세대학교 원주박물관      0  033-760-2731  대학

In [10]:
tel = df['운영기관전화번호'].str.split(pat='-', n=2, expand=True)
tel

       0    1     2
0    061  390  7224
1    033  737  4371
2    033  730  9000
3    033  746  5256
4    033  760  2731
..   ...  ...   ...
895  055  960  5532
896  053  744  5500
897  053  740  2061
898  053  768  6051
899  043  835  4161

[900 rows x 3 columns]

In [11]:
df['지역번호'] = tel[0]
df

             시설명  어른관람료      운영기관전화번호  분류 지역번호
0     필암서원 유물전시관    500  061-390-7224  일반  061
1        원주역사박물관      0  033-737-4371  일반  033
2        뮤지엄산미술관  15000  033-730-9000  일반  033
3      오랜미래신화미술관      0  033-746-5256  일반  033
4    연세대학교 원주박물관      0  033-760-2731  대학  033
..           ...    ...           ...  ..  ...
895        함양박물관      0  055-960-5532  일반  055
896         박물관수   5000  053-744-5500  일반  053
897    대구은행금융박물관      0  053-740-2061  일반  053
898      국립대구박물관      0  053-768-6051  일반  053
899    증평민속체험박물관      0  043-835-4161  일반  043

[900 rows x 5 columns]