In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('museum.csv')

In [3]:
df.head()

           시설명  어른관람료      운영기관전화번호
0   필암서원 유물전시관    500  061-390-7224
1      원주역사박물관      0  033-737-4371
2      뮤지엄산미술관  15000  033-730-9000
3    오랜미래신화미술관      0  033-746-5256
4  연세대학교 원주박물관      0  033-760-2731

In [4]:
is_university = df['시설명'].str.contains('대학교')
is_university

0      False
1      False
2      False
3      False
4       True
       ...
895    False
896    False
897    False
898    False
899    False
Name: 시설명, Length: 900, dtype: bool

In [5]:
df.loc[is_university == True, '분류'] = '대학'
df.loc[is_university == False, '분류'] = '일반'

In [6]:
df

             시설명  어른관람료      운영기관전화번호  분류
0     필암서원 유물전시관    500  061-390-7224  일반
1        원주역사박물관      0  033-737-4371  일반
2        뮤지엄산미술관  15000  033-730-9000  일반
3      오랜미래신화미술관      0  033-746-5256  일반
4    연세대학교 원주박물관      0  033-760-2731  대학
..           ...    ...           ...  ..
895        함양박물관      0  055-960-5532  일반
896         박물관수   5000  053-744-5500  일반
897    대구은행금융박물관      0  053-740-2061  일반
898      국립대구박물관      0  053-768-6051  일반
899    증평민속체험박물관      0  043-835-4161  일반

[900 rows x 4 columns]