In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('museum3.csv', dtype={'지역번호': str})

In [3]:
region = {
    '02': '서울시',
    '031': '경기도', 
    '032': '경기도',
    '033': '강원도', 
    '041': '충청도', 
    '042': '충청도', 
    '043': '충청도', 
    '044': '충청도',
    '051': '부산시', 
    '052': '경상도', 
    '053': '경상도', 
    '054': '경상도',
    '055': '경상도',
    '061': '전라도', 
    '062': '전라도', 
    '063': '전라도',
    '064': '제주도',
    '1577': '기타', 
    '070': '기타'
}

In [4]:
df["지역번호"].map(region)
df

             시설명  어른관람료      운영기관전화번호  분류 지역번호
0     필암서원 유물전시관    500  061-390-7224  일반  061
1        원주역사박물관      0  033-737-4371  일반  033
2        뮤지엄산미술관  15000  033-730-9000  일반  033
3      오랜미래신화미술관      0  033-746-5256  일반  033
4    연세대학교 원주박물관      0  033-760-2731  대학  033
..           ...    ...           ...  ..  ...
895        함양박물관      0  055-960-5532  일반  055
896         박물관수   5000  053-744-5500  일반  053
897    대구은행금융박물관      0  053-740-2061  일반  053
898      국립대구박물관      0  053-768-6051  일반  053
899    증평민속체험박물관      0  043-835-4161  일반  043

[900 rows x 5 columns]

In [5]:
df["지역번호"] = df["지역번호"].map(region)

In [6]:
df.rename(columns={"지역번호": "지역명"}, inplace=True)

In [7]:
df

             시설명  어른관람료      운영기관전화번호  분류  지역명
0     필암서원 유물전시관    500  061-390-7224  일반  전라도
1        원주역사박물관      0  033-737-4371  일반  강원도
2        뮤지엄산미술관  15000  033-730-9000  일반  강원도
3      오랜미래신화미술관      0  033-746-5256  일반  강원도
4    연세대학교 원주박물관      0  033-760-2731  대학  강원도
..           ...    ...           ...  ..  ...
895        함양박물관      0  055-960-5532  일반  경상도
896         박물관수   5000  053-744-5500  일반  경상도
897    대구은행금융박물관      0  053-740-2061  일반  경상도
898      국립대구박물관      0  053-768-6051  일반  경상도
899    증평민속체험박물관      0  043-835-4161  일반  충청도

[900 rows x 5 columns]